@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
// Colors
// Base colors
$white: #FFFFFF;
$black: #000000;

// Grey scale
$grey-600: #3D6666;
$grey-550: #547878;
$grey-500: #5E7A7D;
$grey-400: #7F9D9F;
$grey-300: #9EBBBD;
$grey-200: #C5E4E7;
$grey-50: #F3F9FA;

// Green scale
$green-900: #00474B;
$green-800: #085C61;
$green-750: #0D686D;
$green-400: #26C2AE;
$green-200: #9FE8DF;

// Orange
$orange-400: #E17052;

// Spacing system
$spacing-0: 0rem; // 0px
$spacing-100: 0.5rem; // 8px
$spacing-200: 1rem; // 16px
$spacing-300: 1.5rem; // 24px
$spacing-400: 2rem; // 32px
$spacing-600: 3rem; // 48px
$spacing-800: 5rem; // 80px
$spacing-1200: 6rem; // 96px
$spacing-1500: 7.5rem; // 120px
$spacing-1600: 8rem; // 128px